.app-shell {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.sidebar {
  width: 220px;
  background: #f3f3f3;
  border-right: 1px solid #ddd;
  padding: 1rem;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.sidebar a.active {
  background: #e1e1e1;
  font-weight: bold;
}


.room-link a {
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}
.room-link.active a {
  background: #e1e1e1;
  font-weight: bold;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 1rem;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #fff;
}

.message {
  margin-bottom: 1rem;
  display: flex;
}
.message.mine {
  justify-content: flex-end;
}

.bubble {
  max-width: 60%;
  padding: 0.5rem 0.75rem;
  border: 1px solid;
  border-radius: 8px;
  background: #f9f9f9;
}
.message.mine .bubble {
  background: #e6f0ff;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.text {
  font-size: 1rem;
}

.chat-footer {
  display: flex;
  padding: 0.75rem;
  border-top: 1px solid #ddd;
  background: #fafafa;
}

.chat-footer input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-btn {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background: #0078d4;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.send-btn:hover {
  background: #005a9e;
}

.add-room-container {
  margin-top: auto; /* pushes to bottom and stays fixed*/
  position: relative;
  padding-top: 1rem;
}

.add-room-btn {
  width: 100%;
  padding: 0.75rem;
  background: #0078d4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.add-room-btn:hover {
  background: #005a9e;
}
.back-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.delete-btn:hover {
  background: #005a9e;
}
.delete-btn {
  background: none;
  border: none;
  color: #888;
  font-size: 1rem;
  cursor: pointer;
}

.delete-btn:hover {
  color: #d32f2f;
}
