
h1{
  text-align: left;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
   margin-bottom: 1.5rem;
}
.landing {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #f3f3f3;
  border-right: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #838282;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.sidebar a.active {
  background: #e1e1e1;
  font-weight: bold;
}

/* Main content area */
form {
  flex: 1;
  padding: 3rem;
  background: #fff;
  overflow-y: auto;
}

form label {
  display: inline-block;
  margin-bottom: 1rem;
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 30vw;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  background: #0078d4; /* Teams blue */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #005a9e;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.delete-btn {
  background: none;
  border: none;
  color: #888;
  font-size: 1rem;
  cursor: pointer;
}

.delete-btn:hover {
  color: #d32f2f;
}
